body{
    text-align: center;
    font-family:Helvetica,sans-serif;
    background-color: rgb(234, 193, 142);

}
#dice{
    font-size: 300px;
    color: rgb(11, 34, 183);
}

dice:hover{
    cursor: pointer;
}